:root{
    --verde: #fd9221;
    --verde-claro: #ebffe9;
    --cinza20: #E8E8E8;
    --cinza30: #656769;
    --cinza40: #1A202C;
    
    --font-Archivo: "Archivo", sans-serif;
}

.topnav{
    background-color: var(--verde);
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.cadastrados,
.home{
    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 14px;
}

.cadastrados:hover,
.home:hover{
    color: var(--verde-claro);
}

.geral,
.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
}

.login__titulo,
.login__input{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;
}

.topnav,
.login-titulo,
.login-label,
.login-input,
.label-id,
.input-id,
.login-titulo-crie{
    font-family: var(--font-Archivo);
    font-weight: 400;
    font-size: 18px;
    color: var(--cinza40);
}

.login-titulo-crie{
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 30px;
}

.input-id,
.login-input{
    background-color: transparent;
    border: 2px solid var(--cinza20);
    border-radius: 5px;
    color: var(--cinza30);
    font-size: 16px;
    padding: 0.5em;
    margin-bottom: 20px;
    width: 200px;
    height: 25px;
    transition: 0.5s;
}

.input-id:hover,
.input-id:focus,
.login-input:hover,
.login-input:focus{
    border: 2px solid var(--verde);
    outline: none;
}


.botoes-entrar,
.botoes-editar{
    background-color: var(--verde);
    border: 1px solid var(--verde);
    border-radius: 4px;
    font-family: var(--font-Archivo);
    font-weight: 600;
    font-size: 14px;
    font-weight: 500;
    color: white;
    width: fit-content;
    padding: 10px 68px;
}

.botoes-editar:hover,
.botoes-entrar:hover{
    background-color: var(--verde-claro);
    color: var(--cinza30);
}

img{width: 50%;}

.input-id{width: 60px;}

.tabela{margin: 30px;}

.tabela__container{margin-top: 20px;}

.label-nascimento{padding-top: 70px;}

table, th, td {border: 1px solid var(--verde);}

th{font-weight: bold;}
  
tr:nth-child(even) {background-color: var(--verde-claro);}

tr:hover:nth-child(1n + 2) {
    background-color: #07794b;;
    color: #fff;
}

th, td{
    text-align: center;
    width: 120px;
}

@media only screen and (max-width: 900px) {
    .geral{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .imagem__logo{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 600px) {
    .login{flex-direction: column;}

    .label-nascimento{padding-top: 0;}

    .login__titulo,
    .login__input{margin: 0 20px;}
}